
<script src="~/assets/scripts/core/accesstype/accesstypesummary.js"></script>

<div id="divSummaryInfo">
    <button type="button" class="btn btn-primary btn-sm" id="btnAddNew" style="background-color: #207AB0;">Add New</button>
    <br />
    <br />
    <div id="gridSummary"></div>

</div>

<div id="divHistoryPopupFor" style="display:none;">
    <div id="gridHistoryPopup"></div>
</div>

<br />
