
@{
    ViewData["Title"] = "Access Type";
    Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}



<script src="~/scripts/coremanagement/AccessType/AccessType.js"></script>

<div class="mainDiv">
    <h3>Access Type Information</h3>

    <div id="divSummary">
        @Html.Partial("AccessType/AccessTypeSummary")
    </div>
    <div id="divDetails" style="display: none;">
        @Html.Partial("AccessType/AccessTypeDetails")
    </div>

</div>



