<div id="divInfo">
  <div class="divDetails">
    <ul>
      <li>
        <label class="lbl">Groups:</label>
        <div id="checkboxGroup"> </div>
      </li>
    </ul>
  </div>
</div>

@* <div id="divInfo" data-scroll-area data-simplebar>
  <div class="divDetails tab-scroll-container" data-simplebar>
    <ul>
      <li>
        <label class="lbl">Groups:</label>
        <div id="checkboxGroup"> </div>
      </li>
    </ul>
  </div>
</div> *@
