@* <script src="~/assets/scripts/modules/core/users/groupmembership.js"></script> *@
<div id="divInfo">
    <div class="divDetails">
        <ul>
            <li>
                <label class="lbl">Groups:</label>
                <div id="checkboxGroup">
                </div>
            </li>
        </ul>
    </div>
</div>