@* <script src="~/assets/scripts/modules/core/users/userinfo.js"></script> *@



<div id="divUserInfo">
  @* <div class="divDetails"> *@
  <form id="userForm" enctype="multipart/form-data">
    <ul>
      <li class="mb-2">
        <label for="CompanyNameDetails" class="lbl widthSize100_per">SBU:</label>
        <input type="hidden" id="hdnUserId" value="0" />
        <input class="width_100_Per_Important " id="cmbCompanyNameDetails" name="CompanyNameDetails" validationmessage="Please Select Company" />
      </li>

      <li class="mb-2">
        <label for="BranchNameDetails" class="lbl widthSize100_per">Branch Name:<span class="redstart">*</span></label>
        <input class="width_100_Per_Important" id="cmbBranchDetails" name="BranchNameDetails" validationmessage="Please Select Branch Name" />
      </li>

      <li class="mb-2">
        <label for="DepartmentNameDetails" class="lbl widthSize100_per">Department Name:</label>
        <input class="width_100_Per_Important " id="cmbDepartmentNameDetails" name="DepartmentNameDetails" validationmessage="Please Select Department Name" />
      </li>

      <li class="mb-2">
        <label for="LoginId" class="lbl widthSize100_per">Login ID:<span class="redstart">*</span></label>
        <input type="text" class="width_100_Per_Important k-textbox" id="txtLoginId" name="LoginId" placeholder="Login ID" validationmessage="Please enter valid Login ID" />
      </li>

      <li class="mb-2">
        <label for="NewPassword" class="lbl widthSize100_per">New Password:</label>
        <input type="password" class="width_100_Per_Important k-textbox" id="txtNewPassword" name="NewPassword" />
      </li>

      <li class="mb-2">
        <label for="ConfirmPassword" class="lbl widthSize100_per">Confirm Password:</label>
        <input type="password" class="width_100_Per_Important k-textbox" id="txtConfirmPassword" name="ConfirmPassword" />
      </li>

      <li class="mb-2">
        <label for="UserName" class="lbl widthSize100_per">User Name:<span class="redstart">*</span></label>
        <input type="text" class="width_100_Per_Important k-textbox" id="txtUserName" name="UserName" maxlength="50" placeholder="User Name" required validationmessage="Please enter valid User Name" />
      </li>

      <li class="mb-2">
        <label class="lbl widthSize100_per">Employee:<span class="redstart">*</span></label>
        <input class="width_100_Per_Important" id="cmbEmployee" name="EmployeeName" validationmessage="Please Select an Employee Name" required="required" />
      </li>

      <li class="mb-2">
        <label class="lbl widthSize100_per">IMEI:</label>
        <input class="width_100_Per_Important k-textbox" id="txtIMEI" name="IMEI" />
      </li>

      <li class="mb-2 custom-checkbox">
        <label for="AccessAllSbu" class="form-check-label">Has Root Privilege:</label>
        <input type="checkbox" id="chkAccessAllSbu" name="AccessAllSbu" class="form-check-input" />
      </li>

      <li class="mb-2">
        <label class="lbl widthSize100_per">Default Dashboard:</label>
        <input class="width_100_Per_Important" id="ddlCommonDashboard" />
      </li>

      <li class="mb-2 custom-checkbox">
        <label for="IsActive" class="form-check-label">Is Active:</label>
        <input type="checkbox" id="chkIsActive" name="IsActive" class="form-check-input" />
      </li>
    </ul>
    @* </div> *@
  </form>
</div>