
@* <script src="~/assets/scripts/modules/core/users/usersummary.js"></script> *@

<fieldset class="border p-3 fieldsetCommon">
  <legend class="legendCommon">User Summary</legend>
  <div class="divDetails">
    <ul>
      <li>
        <label for="cmbCompanyNameForSummary" class="lbl widthSize20_per">SBU:</label>
        <input id="cmbCompanyNameForSummary" onchange="UserSummaryHelper.CompanyIndexChangeEvent()" value="" />
      </li>
    </ul>
  </div>

  <div class="table-responsive-wrapper">
    <div id="gridUserSummary" class="responsiveGrid"></div>
  </div>
</fieldset>






