<script src="~/assets/scripts/core/users/userdetails.js"></script>

<div class="rightDiv">
  <fieldset class="reset">
    <legend class="reset">User Details</legend>

    <div id="tabstrip">
      <ul>
        <li>
          User Info
        </li>
        <li>
          Group Membership
        </li>
      </ul>
      <div>
        <partial name="Users/_UserInfo" />
      </div>
      <div>
        <partial name="Users/_GroupMembership" />
      </div>

    </div>

    <div class="btnDiv mt-2">
      <ul>
        <li class="d-flex justify-content-end">
          <button type="button" id="btnSave" class="btn btn-primary me-2" onclick="UserDetailsManager.saveOrUpdateItem()">+ Add New Item</button>
          <button type="button" id="btnClear" class="btn btn-secondary me-2" onclick="UserDetailsHelper.clearUserForm()">Clear</button>
        </li>
      </ul>
    </div>
  
  </fieldset>
</div>
