@{
	ViewBag.Title = "User Settings";
	Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}

<!-- row -->
<div class="row gx-1 gy-2">
	<h3 class="k-header text-center">User Settings</h3>
	<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
		<div id="divSummary">
			<partial name="~/Views/Core/Users/_UserSummary.cshtml" />
		</div>
	</div>
	<div class="col-4">
		<div id="divDetails">
			<partial name="~/Views/Core/Users/_UserDetails.cshtml" />
		</div>
	</div>

</div>

@* <div class="row">
	<div id="MenuPopUp" style="display: none">
		<partial name="~/Views/Core/Menu/_MenuDetails.cshtml" />
	</div>
</div>
 *@

@* 
<!-- row -->
<div class="row gx-1 gy-2">
	<h3 class="k-header text-center">User Settings</h3>

	<div class="col-8">
		<div id="divSummary ">
			<partial name="Users/_UserSummary" />
		</div>
	</div>

	<div class="col-4">
		<div id="divDetails">
			<partial name="Users/_UserDetails" />
		</div>
	</div>
</div> *@

<script src="~/assets/scripts/services/module/core/userservice.js"></script>
<script src="~/assets/scripts/modules/core/users/users.js"></script>