@* @model bdDevCRM.UI.Models.ErrorViewModel
 *@

<script src="~/assets/scripts/modules/core/group/actionpermission.js"></script>
@* 
<div id="divActionPermission" class="menuPermission widthSize100_per">
  <div class="permissionHeaderDiv k-header">
    <h4 class="permissionHeader">Action Permission</h4>
  </div>
  <div id="actionPermisionContent" class="divDetails menuContent">
    <ul>
      <li>
        <div id="checkboxActionPermission" class="groupSettingPermissionStyle">
        </div>
      </li>
    </ul>
  </div>
</div> *@


<div id="divActionPermission" class="menuPermission widthSize100_per">
  <div class="mb-2">
    <h4 class="k-header mb-3 mb-2">Action Permission</h4>
    <div id="checkboxActionPermission" class="mb-1"> </div>
  </div>
</div>




@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@