<script src="~/assets/scripts/modules/core/group/groupdetails.js"></script>

<div id="divdetailsForDetails">
  <div id="tabstrip">

    <ul id="tabStripDiv">
      <li> Group Info </li>
      <li> Group Permission </li>
    </ul>
    <div> <partial name="Group/_GroupInfo" /> </div>
    <div> <partial name="Group/_GroupPermission" /> </div>
  </div>

  <div class="d-flex justify-content-start mt-3 ms-5">
    <button type="button" class="btn btn-primary me-2" onclick="GroupDetailsHelper.SaveInformation()" id="btnSave">+ Save </button>
    <button type="button" class="btn btn-secondary me-2" onclick="GroupDetailsHelper.clearGroupForm()" id="btnClearAll">Clear</button>
  </div>

</div>