@* @model bdDevCRM.UI.Models.ErrorViewModel
 *@

<script src="~/assets/scripts/core/group/groupinfo.js"></script>

<div id="divGroupId">
  <div class="divDetails">
    <ul>
      <li class="mb-4">
        <input type="hidden" id="hdnGroupId" value="0" />
        <label for="GroupName" class="lbl widthSize30_per">Group Name:<span class="redstart">*</span></label>
        <input type="text" id="txtGroupName" name="GroupName" maxlength="100" class="form-control-sm k-textbox" placeholder="Group name" required validationMessage="Please enter valid Group Name" />
      </li>

      <li class="mb-4">
        <label for="IsDefult" class="lbl widthSize30_per">Is Default:</label>
        <input type="checkbox" id="chkIsDefault" name="IsDefult" class="chkBox" />
      </li>

      <li class="mb-2">
        <label for="Application" class="lbl mb-2">Application:</label>
        <div id="dynamicCheckBoxForModule" class="mb-2"> </div>
      </li>
    </ul>
  </div>
</div>


@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@