@* @model bdDevCRM.UI.Models.ErrorViewModel
 *@

<script src="~/assets/scripts/core/group/grouppermission.js"></script>

<div id="divGroupPermision" style="position:relative">

  <!-- Application DDL  -->
  <div class="col-12 mb-1">
    <div class="d-flex justify-content-start align-items-center  pb-01">
      <span for="ApplicationName" class="w-40">Application</span>
      <input id="cmbApplicationForModule" name="ApplicationName" placeholder="Application name" class="w-60" />
    </div>
  </div>

  <div class="row">
    <div class="col-5 me-2">
      <partial name="Group/_AccessControlPermission" />
    </div>
    <div class="col-6">
      <partial name="Group/_ReportPermission" />
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-4 me5">
      <partial name="Group/_MenuPermission" />
    </div>
    <div class="col-4 me5 ">
      <partial name="Group/_StatePermission" />
    </div>
    <div class="col-3">
      <partial name="Group/_ActionPermission" />
    </div>
  </div>

</div>



@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 *@