@* @model bdDevCRM.UI.Models.ErrorViewModel
 *@

<script src="~/assets/scripts/modules/core/group/groupinfo.js"></script> *@

<div id="divGroupId">
  <div class="divDetails">
    <div class="mb-4">
      <input type="hidden" id="hdnGroupId" value="0" />
      <label for="GroupName" class="lbl widthSize30_per">Group Name:<span class="redstart">*</span></label>
      <input type="text" id="txtGroupName" name="GroupName" maxlength="100" class="form-control--sm k-textbox" placeholder="Group name" required validationMessage="Please enter valid Group Name" />
    </div>


    <div class="col-12 mb-1">
      <div class="d-flex justify-content-start align-items-center  pb-01">
        <span class="widthSize40_per">Is Default:</span>
        <input type="checkbox" class="form-check-input" id="chkIsDefault" />
      </div>
    </div>

    <div class="mb-2">
      <h4 for="Application" class="k-header mb-3 mb-2">Applications:</h4>
      <div id="dynamicCheckBoxForModule" class="mb-2"> </div>
    </div>
  </div>
</div>


@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
