@* <div class="leftDiv leftDivForGroup widthSize25_per">
  <fieldset class="k-content">
    <legend class="k-fontSize[15]">
      Group Summary
    </legend>
    <div id="gridGroup"></div>
  </fieldset>
  <div class="clear"></div>
</div> *@

<script src="~/assets/scripts/modules/core/group/groupsummary.js"></script>

<div id="divSummaryInfo">
  <div id="gridSummary"></div>
</div>




