@* <div id="divReportPermission" class="menuPermission widthSize100_per">
  <div class="mb-2">
    <h4 for="Application" class="k-header mb-3 mb-2">Customized Report Permission</h4>
    <div id="checkboxReportPermission" class="mb-1"> </div>
  </div>
</div> *@


<div id="divReportPermission" class="permission-section">
  <div class="mb-2">
    <h4 for="Application" class="k-header mb-3 mb-2">Customized Report Permission</h4>
    <div id="checkboxReportPermission" class="permission-scroll-content"> </div>
  </div>
</div>