@{
	ViewData["Title"] = "Group Settings";
	Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}


<!-- row -->
<div class="row">
	<h3 class="k-header text-center">Group Settings</h3>

	<div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
		<div id="divSummary ">
			<partial name="Group/_GroupSummary" />
		</div>
	</div>

	<div class="col-sm-6 col-md-6 col-lg-9 col-xl-9">
		<div id="divDetails">
			<partial name="Group/_GroupDetails" />
		</div>
	</div>
</div>

<script src="~/assets/scripts/modules/core/group/group.js"></script>

