
<script src="~/assets/scripts/common/previewwindow.js"></script>
@* <script src="~/assets/scripts/core/crminstitute/institutedetails.js"></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>

<div id="previewWindow" style="display:none;">
  <div id="preview" style="height: 80vh;"></div>

	<div class="btnDiv mt-2">
		<ul>
			<li class="d-flex justify-content-end">
				<button type="button" class="btn btn-danger btn-close-generic" onclick="CommonManager.closeKendoWindow('#previewWindow')">Close</button>
			</li>
		</ul>
	</div>

</div>


<script>


</script>

