

<script src="~/Scripts/Common/Themes.js"></script>

<div id="themeSlider" class="themeSliderCss">

    <input type="button" id="yellowTheme" class="themeButtonSize" style="background-color:#ffc60b" onclick="ThemeManager.yellowTheme()" title="Cerelo" />
    <input type="button" id="DefaultTheme" class="themeButtonSize" style="background-color: #3de8e8" onclick="ThemeManager.blueTheme()" title="Default" />
    <input type="button" id="pinkTheme" class="themeButtonSize" style="background-color: pink" onclick="ThemeManager.pinkTheme()" title="pink" />
    <input type="button" id="greenTheme" class="themeButtonSize" style="background-color: green" onclick="ThemeManager.greenTheme()" title="Green" />

</div>


