
@* <script src="~/assets/scripts/modules/core/module/modulesummary.js"></script> *@

<fieldset class="border p-3 fieldsetCommon">
  <legend class="legendCommon">Module Summary Grid</legend>
  <div class="table-responsive-wrapper">
    <div id="gridSummaryModule" class="responsiveGrid"></div>
  </div>
</fieldset>


@* <div id="divSummaryInfo">
  <div id="gridSummary"></div>
</div>
 *@




