
<script src="~/assets/scripts/core/module/modulesummary.js"></script>

<div id="divSummaryInfo">
  <div class="d-grid d-lg-block mb-1">
    <a class="btn btn-primary" id="btnAddNew"> + Create New Module </a>
  </div>
  <div id="gridSummary"></div>
</div>



