html {
  font-size: 14px;
}

a {
  cursor: pointer;
}

input, textarea {
  cursor: text !important;
}

input[type="button"] {
  cursor: pointer !important;
}

button{
  cursor: pointer !important;
}


/* Default menu item color */
.nav-link {
  color: #333 !important; /* Default text color */
  text-decoration: none;
  background-color: transparent; /* Ensure no background by default */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

  /* Hover effect */
  .nav-link:hover {
    color: #2F2C74 !important; 
    background-color: #f8f9fa; 
    font-weight: bold; 
  }

  /* Active menu item */
  .nav-link.active {
    color: #2F2C74 !important; 
    font-weight: bold;
  }


.arrow-icon {
  margin-right: 5px;
  font-size: 12px; 
  font-weight:bold;
}

.collapse {
  transition: height 0.3s ease-in-out;
}


/*check box style*/
.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.k-checkbox {
  width: 16px;
  height: 16px;
  accent-color: #6200ea;
  cursor: pointer;
}

.k-checkbox-label {
  font-size: 14px;
  cursor: pointer;
}

.custom-swal-zindex {
  z-index: 10010 !important;
}


#divReportPermission {
  height: 300px;
  overflow: auto;
}


div#divGroupPermision div {
  padding: 0;
  margin: 0;
}

div.menuContent {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%; 
}

div.groupSettingPermissionStyle {
  font-size: 12px;
  overflow-x: auto;
}

  div.groupSettingPermissionStyle div {
    margin-bottom: 6px !important;
    cursor: default;
  }

    div.groupSettingPermissionStyle div:hover {
      cursor: default;
      background: #C0B8B5;
    }

    div.groupSettingPermissionStyle div a {
      cursor: default;
      color: #333;
      padding: 5px;
      margin-left: 5px;
    }

.stateBackground {
  background-color: #E4651D;
  border-width: 1px;
  color: #fff !important;
  border-radius: 4px;
  padding: 0.16666em 0.3333em 0.16666em 0.25em;
}

.k-widget * {
  box-sizing: border-box;
}

.redstart {
  color: red;
}

.k-input.k-combobox {
  height: 32px;
}

.k-input-button, .k-input-button.k-button {
  height: 32px;
}

/* Drop down border radius with add drop down item btn */
.icon-wrapper .k-combobox,
.icon-wrapper .k-combobox .k-input-inner {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/*input fiel form = 32px*/
input{
  min-height: 32px;
  /*height: 100%;*/
  box-sizing: border-box;
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #bbb;
  outline: 0;
  border-radius: 3px;
}

  input[type="radio"] {
    min-width: 15px;
    min-height: 15px;
    width: 18px;
    height: 18px;
  }

  input[type="file"], input[type="checkbox"], input[type="radio"] {
    cursor: pointer !important;
  }

textarea {
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid #bbb;
  outline: 0;
  border-radius: 3px;
}

/* Drop down border radius with add drop down item btn */
.add-new-ddl-item-btn {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid #bbb;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}



#tabstrip ul li {
/*  font-size: 15px;
  font-weight: 600;*/
}

.reset legend {
  font-size: 14px;
  font-weight: 600;
}

/************************ Responsive kendo grid with scroll bar *************************************/
.gridParrentDivOverflowHidden {
  overflow-x: hidden;
}

.min-width_100{
  min-width: 100%;
}


.min-width_96{
  min-width: 96%;
}

.max-vh-80 {
  max-height: 80vh !important;
}

.grid-background {
  background-color: #F1F5F9;
}

/*.overflow-auto {
  overflow-y: auto !important;
}*/

/*.k-grid-header,
.k-grid-content {
  min-width: max-content;
}*/

/************************ /////////////////////////////////////////////////////////// */
/* Responsive Grid Styling */


