
<script src="~/assets/scripts/crm/crmapplication/crmadditionalinformation.js"></script>

<div id="gridParrentDivOverflowHidden">
	<!-- Education Details -->
	@* <fieldset class="reset">
		<legend class="reset">Reference Details</legend> *@
	<fieldset class="border p-3 fieldsetCommon mt-5">
		<legend class="legendCommon topAfterDiv_Backgorup">Reference Details</legend>
		<div class="row">
			<h4 class=""k-header mb-2">Please provide details of the individuals who will be prepared to serve as your references.</h4>
			<!-- Hidden Fields -->
			<!-- Reference Grid -->
			<div class="col-12 mb-2">
				<div id="gridAdditionalReferenceSummary" class="min-width_100"></div>
			</div>
		</div>
	</fieldset>

	<!-- Statement of Purpose -->
	@* <fieldset class="reset">
		<legend class="reset">Statement of Purpose</legend> *@
	<fieldset class="border p-3 fieldsetCommon mt-5">
		<legend class="legendCommon topAfterDiv_Backgorup">Statement of Purpose</legend>
		<div class="row">
			<!-- Hidden Fields -->
			<input type="hidden" id="hdnStatementOfPurposeId" value="0" />

			<!-- Statement of Purpose -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
				<label for="StatementOfPurposeRemarks" class="lbl widthSize100_per">State your reason for applying and providing any further information which you would wish to give in support of your application(e.g. attendance on short course, experience, career development, ambitions etc.)</label>
				<div class="">
					<textarea id="txtStatementOfPurposeRemarks" name="StatementOfPurposeRemarks" class="w-100" rows="4" placeholder="Statement of Purpose"></textarea>
				</div>
			</div>

			<!-- Statement of Purpose Document -->
			<div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-2">
				<label for="StatementOfPurpose" class="lbl widthSize100_per">Please upload the document(if any)</label>
				<div class="">
					<input type="file" id="fileStatementOfPurpose" name="StatementOfPurpose" class="form-control w-100" />
				</div>
			</div>

			<!-- Statement of Purpose Document View -->
			<div class="col-xl-6 col-lg-6 col-md-6 col-12 mb-2">
				<label for="StatementOfPurposeViewDocument" class="lbl widthSize100_per">View Document</label>
				<div class="">
					<input id="statementOfPurposeViewDocument" name="StatementOfPurposeViewDocument" class="w-100" />
				</div>
			</div>

		</div>
	</fieldset>

	<!-- Additional Information Detials -->
@* 	<fieldset class="reset">
		<legend class="reset">Additional Information</legend> *@
	<fieldset class="border p-3 fieldsetCommon mt-5">
		<legend class="legendCommon topAfterDiv_Backgorup">Additional Information</legend>
		<div class="row">
			<!-- Hidden Fields -->
			<!-- Do you require Accommodation  -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2 custom-checkbox">
				<span class="me-5">Do you require Accommodation</span>

				<input name="RequireAccommodation" type="radio" class="form-check-input inputRadio" />
				<label class="lbl">Yes</label>

				<input name="RequireAccommodation" type="radio" class="form-check-input inputRadio" />
				<label class="lbl">No</label>
			</div>




			@* <input id="radioIsPassportYes" name="ValidPassport" type="radio" class="form-check-input inputRadio" />
			<label class="lbl">Yes</label>
			<input id="radioIsPassportNo" name="ValidPassport" type="radio" class="form-check-input inputRadio" />
			<label class="lbl">No</label> *@


			<h4 class="" k-header mb-2">Health & medical Needs.</h4>
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2 custom-checkbox">
				<span class="me-5">Do you suffer from any health or medical needs which requires additional support to be provided by the institutions to which you have made an application? By providing such information early the institution may be able to make special arrangements.</span>

				<input name="HealthNMedicalNeeds" type="radio" class="form-check-input inputRadio" />
				<label class="lbl">Yes</label>

				<input name="HealthNMedicalNeeds" type="radio" class="form-check-input inputRadio" />
				<label class="lbl">No</label>
			</div>




			<!-- Health & medical Needs -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
				<label for="HealthNMedicalNeedsRemarks" class="lbl widthSize100_per">If yes, Please provide more details below.</label>
				<div class="">
					<textarea id="txtHealthNMedicalNeedsRemarks" name="HealthNMedicalNeedsRemarks" class="w-100" rows="4"></textarea>
				</div>
			</div>

			<!-- Additional Information -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12">
				<label for="AdditionalInformation" class="lbl widthSize100_per">Additional Information</label>
				<div class="">
					<textarea id="txtAdditionalInformationRemarks" name="AdditionalInformation" class="w-100" rows="4"></textarea>
				</div>
			</div>

		</div>
	</fieldset>

	<!-- Additional Documents -->
	@* <fieldset class="reset">
		<legend class="reset">Additional Documents</legend> *@
	<fieldset class="border p-3 fieldsetCommon mt-5">
		<legend class="legendCommon topAfterDiv_Backgorup">Additional Documents</legend>
		<div class="row">
			<!-- Hidden Fields -->
			<h4 class="k-header mb-3">Please upload the documents either in a single pdf file or zip file for any additional documents that institution may require to process your application.</h4>
			<!-- Education Grid -->
			<div class="col-12">
				<div id="griAdditionalDocumentsSummary" class="min-width_100"></div>
			</div>
		</div>
	</fieldset>

</div>
