

<script src="~/assets/scripts/crm/crmapplication/crmeducationnenglishlanguage.js"></script>

<div class="gridParrentDivOverflowHidden">
	<!-- Education Details -->
	<fieldset class="reset">
		<legend class="reset">Education Details</legend>
		<div class="row">
			<!-- Hidden Fields -->
			<h4 class="k-header mb-3">Please list your five qualifications taken with most recent first.</h4>
			<!-- Education Grid -->
			<div class="col-12 mb-2">
				<div id="gridEducationSummary" class="min-width_100"></div>
			</div>
		</div>
	</fieldset>

	<!-- English Language and other Entry Exam Details -->
	<h3 class="k-header mb-2">English Language and other Entry Exam.</h3>
	<h4 class="k-header mb-3">Please list your five Qualification taken with most recent first.</h4>

	<!-- IELTS Information -->
	<fieldset class="reset">
		<legend class="reset">IELTS Information</legend>
		<div class="row">
			<!-- Hidden Fields -->

			<!-- IELTS Listening -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="IELTSListening" class="lbl widthSize100_per">IELTS Listening</label>
				<div class="">
					<input id="txtIELTSListening" name="IELTSListening" placeholder="IELTS Listening" class="w-100" />
				</div>
			</div>

			<!-- IELTS Reading -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="IELTSReading" class="lbl widthSize100_per">IELTS Reading</label>
				<div class="">
					<input id="txtIELTSReading" name="IELTSReading" placeholder="IELTS Reading" class="w-100" />
				</div>
			</div>

			<!-- IELTS Listening -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="IELTSWriting" class="lbl widthSize100_per">IELTS Writing</label>
				<div class="">
					<input id="txtIELTSWriting" name="IELTSWriting" placeholder="IELTS Writing" class="w-100" />
				</div>
			</div>

			<!-- IELTS Writing -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="IELTSSpeaking" class="lbl widthSize100_per">IELTS Speaking</label>
				<div class="">
					<input id="txtIELTSSpeaking" name="IELTSSpeaking" placeholder="IELTS Speaking" class="w-100" />
				</div>
			</div>

			<!-- IELTS Overall Score -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="IELTSOverallScore" class="lbl widthSize100_per">IELTS Overall Score</label>
				<div class="">
					<input id="txtIELTSOverallScore" name="IELTSOverallScore" placeholder="IELTS Overall Score" class="w-100" />
				</div>
			</div>

			<!-- IELTS Overall Score -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="IELTSDate" class="lbl widthSize100_per">IELTS Date</label>
				<div class="">
					<input id="dateIELTSDate" name="IELTSDate" placeholder="IELTS Date" class="w-100" />
				</div>
			</div>

			<!-- Browse Scanned Copy -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="IELTSScanCopy" class="lbl widthSize100_per">Browse Scanned Copy</label>
				<div class="">
					<input id="fileIELTSScanCopy" name="IELTSScanCopy" class="w-100" />
				</div>
			</div>

			<!-- IELTS Scanned Copy -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="IELTSScannedCopy" class="lbl widthSize100_per">IELTS Scanned Copy</label>
				<div class="">
					<input id="fileIELTSScannedCopy" name="IELTSScannedCopy" class="w-100" />
				</div>
			</div>

			<!-- IELTS Additional Information -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
				<label for="IELTSAdditionalInformation" class="lbl widthSize100_per">IELTS Additional Information</label>
				<div class="">
					<textarea id="txtIELTSAdditionalInformation" name="IELTSAdditionalInformation" class="w-100" rows="4" placeholder="IELTS Additional Information"></textarea>
				</div>
			</div>

		</div>
	</fieldset>

	<!-- TOEFL Information -->
	<fieldset class="reset">
		<legend class="reset">TOEFL Information</legend>
		<div class="row">
			<!-- Hidden Fields -->
			<!-- TOEFL Listening -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="TOEFLListening" class="lbl widthSize100_per">TOEFL Listening</label>
				<div class="">
					<input id="txtTOEFLListening" name="TOEFLListening" placeholder="TOEFL Listening" class="w-100" />
				</div>
			</div>

			<!-- TOEFL Reading -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="TOEFLReading" class="lbl widthSize100_per">TOEFL Reading</label>
				<div class="">
					<input id="txtTOEFLReading" name="TOEFLReading" placeholder="TOEFL Reading" class="w-100" />
				</div>
			</div>

			<!-- TOEFL Listening -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="TOEFLWriting" class="lbl widthSize100_per">TOEFL Writing</label>
				<div class="">
					<input id="txtTOEFLWriting" name="TOEFLWriting" placeholder="TOEFL Writing" class="w-100" />
				</div>
			</div>

			<!-- TOEFL Writing -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="TOEFLSpeaking" class="lbl widthSize100_per">TOEFL Speaking</label>
				<div class="">
					<input id="txtTOEFLSpeaking" name="TOEFLSpeaking" placeholder="TOEFL Speaking" class="w-100" />
				</div>
			</div>

			<!-- TOEFL Overall Score -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="TOEFLOverallScore" class="lbl widthSize100_per">TOEFL Overall Score</label>
				<div class="">
					<input id="txtTOEFLOverallScore" name="TOEFLOverallScore" placeholder="TOEFL Overall Score" class="w-100" />
				</div>
			</div>

			<!-- TOEFL Overall Score -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="TOEFLDate" class="lbl widthSize100_per">TOEFL Date</label>
				<div class="">
					<input id="dateTOEFLDate" name="TOEFLDate" placeholder="TOEFL Date" class="w-100" />
				</div>
			</div>

			<!--TOEFL Browse Scanned Copy -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="TOEFLScanCopy" class="lbl widthSize100_per">Browse Scanned Copy</label>
				<div class="">
					<input id="fileTOEFLScanCopy" name="TOEFLScanCopy" class="w-100" />
				</div>
			</div>

			<!-- TOEFL Scanned Copy -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="TOEFLScannedCopy" class="lbl widthSize100_per">TOEFL Scanned Copy</label>
				<div class="">
					<input id="fileTOEFLScannedCopy" name="TOEFLScannedCopy" class="w-100" />
				</div>
			</div>

			<!-- TOEFL Additional Information -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
				<label for="TOEFLAdditionalInformation" class="lbl widthSize100_per">TOEFL Additional Information</label>
				<div class="">
					<textarea id="txtTOEFLAdditionalInformation" name="TOEFLAdditionalInformation" class="w-100" rows="4" placeholder="TOEFL Additional Information"></textarea>
				</div>
			</div>

		</div>
	</fieldset>
	
	<!-- PTE Information -->
	<fieldset class="reset">
		<legend class="reset">PTE Information</legend>
		<div class="row">
			<!-- Hidden Fields -->
			<!-- PTE Listening -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="PTEListening" class="lbl widthSize100_per">PTE Listening</label>
				<div class="">
					<input id="txtPTEListening" name="PTEListening" placeholder="PTE Listening" class="w-100" />
				</div>
			</div>

			<!-- PTE Reading -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="PTEReading" class="lbl widthSize100_per">PTE Reading</label>
				<div class="">
					<input id="txtPTEReading" name="PTEReading" placeholder="PTE Reading" class="w-100" />
				</div>
			</div>

			<!-- PTE Listening -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="PTEWriting" class="lbl widthSize100_per">PTE Writing</label>
				<div class="">
					<input id="txtPTEWriting" name="PTEWriting" placeholder="PTE Writing" class="w-100" />
				</div>
			</div>

			<!-- PTE Writing -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="PTESpeaking" class="lbl widthSize100_per">PTE Speaking</label>
				<div class="">
					<input id="txtPTESpeaking" name="PTESpeaking" placeholder="PTE Speaking" class="w-100" />
				</div>
			</div>

			<!-- PTE Overall Score -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="PTEOverallScore" class="lbl widthSize100_per">PTE Overall Score</label>
				<div class="">
					<input id="txtPTEOverallScore" name="PTEOverallScore" placeholder="PTE Overall Score" class="w-100" />
				</div>
			</div>

			<!-- PTE Overall Score -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="PTEDate" class="lbl widthSize100_per">PTE Date</label>
				<div class="">
					<input id="datePTEDate" name="PTEDate" placeholder="PTE Date" class="w-100" />
				</div>
			</div>

			<!--PTE Browse Scanned Copy -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="PTEScanCopy" class="lbl widthSize100_per">Browse Scanned Copy</label>
				<div class="">
					<input id="filePTEScanCopy" name="PTEScanCopy" class="w-100" />
				</div>
			</div>

			<!-- PTE Scanned Copy -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="PTEScannedCopy" class="lbl widthSize100_per">PTE Scanned Copy</label>
				<div class="">
					<input id="filePTEScannedCopy" name="PTEScannedCopy" class="w-100" />
				</div>
			</div>

			<!-- PTE Additional Information -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
				<label for="PTEAdditionalInformation" class="lbl widthSize100_per">PTE Additional Information</label>
				<div class="">
					<textarea id="txtPTEAdditionalInformation" name="PTEAdditionalInformation" class="w-100" rows="4" placeholder="PTE  Additional Information"></textarea>
				</div>
			</div>

		</div>
	</fieldset>

	<!-- GMAT Information -->
	<fieldset class="reset">
		<legend class="reset">GMAT Information</legend>
		<div class="row">
			<!-- Hidden Fields -->
			<!-- GMAT Listening -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="GMATListening" class="lbl widthSize100_per">GMAT Listening</label>
				<div class="">
					<input id="txtGMATListening" name="GMATListening" placeholder="GMAT Listening" class="w-100" />
				</div>
			</div>

			<!-- GMAT Reading -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="GMATReading" class="lbl widthSize100_per">GMAT Reading</label>
				<div class="">
					<input id="txtGMATReading" name="GMATReading" placeholder="GMAT Reading" class="w-100" />
				</div>
			</div>

			<!-- GMAT Listening -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="GMATWriting" class="lbl widthSize100_per">GMAT Writing</label>
				<div class="">
					<input id="txtGMATWriting" name="GMATWriting" placeholder="GMAT Writing" class="w-100" />
				</div>
			</div>

			<!-- GMAT Writing -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="GMATSpeaking" class="lbl widthSize100_per">GMAT Speaking</label>
				<div class="">
					<input id="txtGMATSpeaking" name="GMATSpeaking" placeholder="GMAT Speaking" class="w-100" />
				</div>
			</div>

			<!-- GMAT Overall Score -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="GMATOverallScore" class="lbl widthSize100_per">GMAT Overall Score</label>
				<div class="">
					<input id="txtGMATOverallScore" name="GMATOverallScore" placeholder="GMAT Overall Score" class="w-100" />
				</div>
			</div>

			<!-- GMAT Overall Score -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="GMATDate" class="lbl widthSize100_per">GMAT Date</label>
				<div class="">
					<input id="dateGMATDate" name="GMATDate" placeholder="GMAT Date" class="w-100" />
				</div>
			</div>

			<!--GMAT Browse Scanned Copy -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="GMATScanCopy" class="lbl widthSize100_per">Browse Scanned Copy</label>
				<div class="">
					<input id="fileGMATScanCopy" name="GMATScanCopy" class="w-100" />
				</div>
			</div>

			<!-- GMAT Scanned Copy -->
			<div class="col-xl-3 col-lg-3 col-md-6 col-12 mb-2">
				<label for="GMATScannedCopy" class="lbl widthSize100_per">GMAT Scanned Copy</label>
				<div class="">
					<input id="fileGMATScannedCopy" name="GMATScannedCopy" class="w-100" />
				</div>
			</div>

			<!-- GMAT Additional Information -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
				<label for="GMATAdditionalInformation" class="lbl widthSize100_per">GMAT Additional Information</label>
				<div class="">
					<textarea id="txtGMATAdditionalInformation" name="GMATAdditionalInformation" class="w-100" rows="4" placeholder="GMAT  Additional Information"></textarea>
				</div>
			</div>

		</div>
	</fieldset>

	<!-- OTHERS  Information -->
	<fieldset class="reset">
		<legend class="reset">OTHERS Information</legend>
		<div class="row">
			<!-- Hidden Fields

			<!-- OTHERS Additional Information -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
				<label for="OTHERSAdditionalInformation" class="lbl widthSize100_per">OTHERS Additional Information</label>
				<div class="">
					<textarea id="txtOTHERSAdditionalInformation" name="OTHERSAdditionalInformation" class="w-100" rows="4" placeholder="OTHERS  Additional Information"></textarea>
				</div>
			</div>
			

			<!-- OTHERS Scanned Copy -->
			<div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-2">
				<label for="OTHERSScannedCopy" class="lbl widthSize100_per">OTHERS Scanned Copy</label>
				<div class="">
					<input id="fileOTHERSScannedCopy" name="OTHERSScannedCopy" class="w-100" />
				</div>
			</div>

		</div>
	</fieldset>

	<!-- Buttons -->
	<div class="btnDiv mt-2">
		<ul>
			<li class="d-flex justify-content-end">
				<button type="button" id="btnSaveOrUpdate" class="btn btn-primary me-2" onclick="StateDetailsManager.saveOrUpdate()">+ Add Item</button>
				<button type="button" id="btnClear" class="btn btn-secondary me-2" onclick="StateDetailsHelper.clearStateForm()">Clear</button>
			</li>
		</ul>
	</div>







</div>


<style>


</style>
