
<script src="~/assets/scripts/modules/crmadmin/crmintakeyear/intakeyearsummary.js"></script>

@* <script src="~/assets/scripts/modules/core/crmintakeyear/intakeyearsummary.js"></script> *@

@* <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <fieldset class="reset">
    <legend class="reset">Intake Year Summary</legend>
    <div class="col-12 text-center">
      <div id="gridSummaryIntakeYear" style="width: 100%;"></div>
    </div>
  </fieldset>
</div> *@



@* 
<script type="text/javascript">
  $(document).ready(function () {
    IntakeYearManager.initIntakeYear();
  });
</script> *@


<fieldset class="border p-3 fieldsetCommon">
  <legend class="legendCommon">Intake Month Summary</legend>
  <div class="table-responsive-wrapper">
    <div id="gridSummaryIntakeYear" class="responsiveGrid"></div>
  </div>
</fieldset>