<script src="~/assets/scripts/core/crminstitutetype/institutetypesummary.js"></script>

<div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12">
	<div class="gridParrentDivOverflowHidden">
		<fieldset class="reset">
			<legend class="reset">Institute Grid</legend>
			<div class="row">
				<div id="gridSummaryInstituteType" class="max-vh-80 min-width_96 mx-auto p-0 grid-background"></div>
			@*<div id="gridSummaryInstituteType" class="max-vh-80 w-100 mx-auto p-0 grid-background"></div> *@
			</div>
		</fieldset>
	</div>
</div>