
@{
    ViewData["Title"] = "Users Information";
  Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}



<script src="~/assets/scripts/core/usersinformation/usersinformation.js"></script>

<div class="mainDiv">
    <h3>Users Information</h3>

    <div id="divSummary">
        @Html.Partial("UsersInformation/UsersInformationSummary")
    </div>
    <div id="divDetails" style="display: none;">
        @Html.Partial("UsersInformation/UsersInformationDetails")

    </div>

</div>



