@{
  ViewBag.Title = "Intake Month";
  Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}


<!-- row -->
<div class="row gx-1 gy-2">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div id="divSummary">
      <partial name="CRMIntakeMonth/_IntakeMonthSummary" />
    </div>
  </div>
</div>

<div class="row">
  <div id="IntakeMonthPopUp" style="display: none">
    <partial name="CRMIntakeMonth/_IntakeMonthDetails" />
  </div>
</div>


<script src="~/assets/scripts/modules/crmadmin/crmintakemonth/intakemonth.js"></script>
@* <script src="~/assets/scripts/modules/core/crmintakemonth/intakemonth.js"></script> *@










