<script src="~/assets/scripts/core/accesscontrol/accesscontrolsummary.js"></script>

<fieldset class="border p-3 fieldsetCommon">
  <legend class="legendCommon">Access Control Summary</legend>
  <div class="table-responsive-wrapper">
    <div id="gridSummary" class="responsiveGrid"></div>
  </div>
</fieldset>
