@{
  ViewBag.Title = "Access Control Settings";
  Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}


<!-- row -->
<div class="row gx-2 gy-3">
	<h3 class="k-header text-center">Access Control Settings</h3>

	<div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-6">
		<div class="divDetails">
			<partial name="AccessControl/_AccessControlDetails" />
		</div>
	</div>

	<!-- Grid Section - Responsive -->
	<div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-6">
		<div class="divSummary pe-3">
			<partial name="AccessControl/_AccessControlSummary" />
		</div>
	</div>
</div>

<script src="~/assets/scripts/services/module/core/accesscontrolservice.js"></script>
<script src="~/assets/scripts/modules/core/accesscontrol/accesscontrol.js"></script>




