<script src="~/assets/scripts/core/currency/currencysummary.js"></script>


@* <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
	<div class="summaryReponsive">
		<fieldset class="reset">
			<legend class="reset">Currency Grid</legend>

			<div id="gridSummaryCurrency"></div>
			<div class="clear"></div>
		</fieldset>
	</div>
</div> *@
@* 

<div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
	<div class="gridParrentDivOverflowHidden">
		<fieldset class="reset">
			<legend class="reset">Currency Grid</legend>
			<div class="row">
				<div id="gridSummaryCurrency" class="max-vh-80 min-width_96 mx-auto p-0 grid-background"></div>
			</div>
		</fieldset>
	</div>
</div>
 *@



<fieldset class="border p-3 fieldsetCommon">
	<legend class="legendCommon">Currency Summary Grid</legend>
	<div class="table-responsive-wrapper">
		<div id="gridSummaryCurrency" class="responsiveGrid"></div>
	</div>
</fieldset>
