<script src="~/assets/scripts/core/currency/currencysummary.js"></script>


<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
	<div class="summaryReponsive">
		<fieldset class="reset">
			<legend class="reset">Currency Grid</legend>

			<div id="gridSummaryCurrency"></div>
			<div class="clear"></div>
		</fieldset>
	</div>
</div>