
@* <script src="~/assets/scripts/modules/core/currency/currencydetail.js"></script> *@
<script src="~/assets/scripts/modules/core/country/countrydetail.js"></script>

@* <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12" id="CurrencyFrom">
	<fieldset class="reset">
		<legend class="reset">Currency Form</legend> *@
<fieldset class="border p-3 fieldsetCommon">
	<legend class="legendCommon">Currency Form</legend>

	<form id="CurrencyFrom" class="main-form mt-3">
		<div class="row mb-2">
			<input id="currencyId" type="hidden" value="0" />

			<div class="col-xl-6 col-lg-6 col-md-4 col-12 mb-2">
				<label for="CurrencyName">Currency Name <span class="redstart">*</span></label>
				<input type="text" class="form-control" id="currencyName" name="CurrencyName" placeholder="Currency name" required validationMessage="Currency name is required" />
			</div>

			<!-- IsActiveCurrency -->
			<div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-2 custom-checkbox">
				<label for="IsActiveCurrency" class="form-check-label">Is Active</label>
				<input type="checkbox" id="chkIsActiveCurrency" name="IsActiveCurrency" class="form-check-input" />
			</div>

			<!-- IsDefaultCurrency -->
			<div class="col-xl-3 col-lg-3 col-md-4 col-12 mb-2 custom-checkbox">
				<label for="IsDefaultCurrency" class="form-check-label">Is Default</label>
				<input type="checkbox" id="chkIsDefaultCurrency" name="IsDefaultCurrency" class="form-check-input" />
			</div>
		</div>

		<div class="btnDiv mt-2">
			<ul>
				<li class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary me-2" id="btnCurrencySaveOrUpdate" onclick="CurrencyDetailsManager.saveOrUpdateItem();">+ Add Currency</button>
					<button type="button" class="btn btn-secondary me-2" onclick="CurrencyDetailsHelper.clearForm();">Clear</button>
					<button type="button" class="btn btn-danger btn-close-generic" onclick="window.location.href='/'">Close</button>
				</li>
			</ul>
		</div>
	</form>
</fieldset>



