@{
	ViewBag.Title = "Currency Info";
	Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}


<!-- row -->
<div class="row">
	<!-- Currency Form -->
		<partial name="Currency/_CurrencyDetail" />
	<!-- Currency Summary -->
		<partial name="Currency/_CurrencySummery" />
</div>

<script src="~/assets/scripts/core/currency/currency.js"></script>

