@* <script src="~/assets/scripts/modules/core/menu/menusummary.js"></script> *@

<fieldset class="border p-3 fieldsetCommon">
  <legend class="legendCommon">Menu Summary Grid</legend>
  <div class="table-responsive-wrapper">
    <div id="gridSummaryMenu" class="responsiveGrid"></div>
  </div>
</fieldset>
