@{
  ViewData["Title"] = "Menu";
  Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}

<!-- row -->
<div class="row gx-1 gy-2">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div id="divSummary">
      <partial name="~/Views/Core/Menu/_MenuSummary.cshtml" />
    </div>
  </div>
</div>

<div class="row">
  <div id="MenuPopUp" style="display: none">
    <partial name="~/Views/Core/Menu/_MenuDetails.cshtml" />
  </div>
</div>


<script src="~/assets/scripts/services/module/core/menuservice.js"></script>
<script src="~/assets/scripts/modules/core/menu/menu.js"></script>
