

<script src="~/assets/scripts/core/menu/menusummary.js"></script>
<div id="divSummaryInfo">
  @* <div class="d-grid d-lg-block">
    <a href="#!" class="btn btn-primary" id="btnAddNew" > + Create New Menu </a>
  </div> *@
    <div id="gridSummary"></div>
</div>

<div id="divHistoryPopupFor" style="display:none;">
    <div id="gridHistoryPopup"></div>
</div>
