
@{
    ViewData["Title"] = "District";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}

<script src="~/assets/scripts/modules/core/district/district.js"></script>

@* <script src="~/scripts/coremanagement/district/district.js"></script> *@

<div class="mainDiv">
    <h3>District Information</h3>

    <div id="divSummary">
        @Html.Partial("District/DistrictSummary")
    </div>
    <div id="divDetails" style="display: none;">
        @Html.Partial("District/DistrictDetails")
    </div>

</div>



