
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<script src="~/scripts/coremanagement/UsersGroups/UsersGroupsPermission.js"></script>
<div id="divSummaryInfo">

    <div class="row">
        <div class="col-md-6">
             <form>
                <div class="form-group">
                    <input id="cmbModule" name="Module" placeholder="Module*" class="k-textbox mendatory-field" />
                </div>
                 </form>
            </div>
    </div>

    <fieldset>
        <legend>Access Controll</legend>
            <div id="gridSummaryForAccessControl"></div>
    </fieldset>
    <fieldset>
        <legend>Customize Report Viewer</legend>
        <div id="gridSummaryForCustomizeReportViewer"></div>
    </fieldset>
    <fieldset>
        <legend>System Permission</legend>
        <div id="gridSummaryForSystemPermission"></div>
    </fieldset>
</div>


<br />
