
@{
    ViewData["Title"] = "Group Information";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}



<script src="~/scripts/coremanagement/UsersGroups/UsersGroups.js"></script>

<div class="mainDiv">
    <h3>Group Information</h3>

    <div id="divSummary">
        @Html.Partial("UsersGroups/UsersGroupsSummary")
    </div>
    <div id="divDetails" style="display: none;">
        @Html.Partial("UsersGroups/UsersGroupsDetails")
    </div>

</div>



