
@{
    ViewData["Title"] = "Class Information";
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}



<script src="~/scripts/StudentManagement/ClassInfo/ClassInfo.js"></script>

<div class="mainDiv">
    <h3>Class Information</h3>

    <div id="divSummary">
        @Html.Partial("ClassInfo/ClassInfoSummary")
    </div>
    <div id="divDetails" style="display: none;">
        @Html.Partial("ClassInfo/ClassInfoDetails")
    </div>

</div>



