<script src="~/assets/scripts/core/crmpaymentmethod/paymentmethodsummary.js"></script>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <fieldset class="reset">
    <legend class="reset">Payment Method Summary</legend>
    <div class="col-12 text-center">
      <div id="gridSummaryPaymentMethod" style="width: 100%;"></div>
    </div>
  </fieldset>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    PaymentMethodManager.initPaymentMethod();
  });
</script>