@{
  ViewBag.Title = "Payment Method Info";
  Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}

@* <div class="row">
  <partial name="CRMPaymentMethod/_PaymentMethodSummary" />
  <div class="row">
    <div id="PaymentMethodPopUp" style="display: none">
      <partial name="CRMPaymentMethod/_PaymentMethodDetails" />
    </div>
  </div>
</div> *@


<!-- row -->
<div class="row gx-1 gy-2">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div id="divSummary">
      <partial name="CRMPaymentMethod/_PaymentMethodSummary" />
    </div>
  </div>
</div>

<div class="row">
  <div id="PaymentMethodPopUp" style="display: none">
    <partial name="CRMPaymentMethod/_PaymentMethodDetails" />
  </div>
</div>











<script src="~/assets/scripts/core/crmpaymentmethod/paymentmethod.js"></script>