@{
  ViewBag.Title = "Payment Method Info";
  Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}

<div class="row">
  <partial name="CRMPaymentMethod/_PaymentMethodSummary" />
  <div class="row">
    <div id="PaymentMethodPopUp" style="display: none">
      <partial name="CRMPaymentMethod/_PaymentMethodDetails" />
    </div>
  </div>
</div>

<script src="~/assets/scripts/core/crmpaymentmethod/paymentmethod.js"></script>