<script src="~/assets/scripts/core/crmintakeyear/intakeyeardetails.js"></script>

@* <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12">
  <fieldset class="reset">
    <legend class="reset">Intake Year Form</legend>
    <form id="IntakeYearForm"> *@

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12">
  <fieldset class="border p-3 fieldsetCommon">
    <legend class="legendCommon legendCommonModalBGImportant">Intake Year Form</legend>
    <form id="IntakeYearForm">
      <div class="row mb-2">
        <input id="intakeYearId" name="IntakeYearId" type="hidden" value="0" />

        <!-- Year Name -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
          <label for="YearName">Year Name <span class="redstart">*</span></label>
          <input type="text" class="form-control" id="yearName" name="YearName" required />
        </div>

        <!-- Year Code -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
          <label for="YearCode">Year Code</label>
          <input type="text" class="form-control" id="yearCode" name="YearCode" maxlength="10" />
        </div>

        <!-- Year Value -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
          <label for="YearValue">Year Value <span class="redstart">*</span></label>
          <input type="number" class="form-control" id="yearValue" name="YearValue" min="2020" max="2099" required />
        </div>

        <!-- Status Checkbox -->
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2 custom-checkbox">
          <label class="form-check-label" for="IsActive">Active Status</label>
          <input type="checkbox" id="chkIsActiveIntakeYear" name="IsActive" class="form-check-input" />
        </div>

        <!-- Description -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <label for="Description">Description</label>
          <textarea class="form-control" id="description" name="Description" rows="3" maxlength="500" placeholder="Enter description (optional)"></textarea>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="btnDiv mt-2">
        <ul>
          <li class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary me-2" id="btnIntakeYearSaveOrUpdate" onclick="IntakeYearDetailsManager.saveOrUpdateItem();"> + Add Intake Year </button>
            <button type="button" class="btn btn-secondary me-2" onclick="IntakeYearDetailsHelper.clearForm();"> Clear </button>
          </li>
        </ul>
      </div>
    </form>
  </fieldset>
</div>