
<script src="~/assets/scripts/modules/crmadmin/crmcourse/coursedetails.js"></script>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12">
  <fieldset class="border p-3 fieldsetCommon">
    <legend class="legendCommon legendCommonModalBGImportant">Course Form</legend>
    <form id="CourseForm" enctype="multipart/form-data">
      <div class="row mb-2">
        <input id="courseId" name="CourseId" type="hidden" value="0" />

        <!-- Course Title -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="CourseTitle">Course Title <span class="redstart">*</span></label>
          <input type="text" class="form-control" id="courseTitle" name="CourseTitle" required />
        </div>

        <!-- Institute -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="InstituteId" class="lbl widthSize100_per">Institute</label>
          <div class="d-flex align-items-start icon-wrapper">
            <input id="cmbInstitute_Course" name="InstituteId" class="flex-grow-1 border-right-strait" />
            <button type="button" class="btn btn-outline-dark add-new-ddl-item-btn" onclick="CourseDetailsHelper.openInstitutePopup();">
              <span class="k-icon k-i-plus"></span>
            </button>
          </div>
        </div>

        <!-- Currency -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="CurrencyId" class="lbl widthSize100_per">Currency</label>
          <div class="d-flex align-items-start icon-wrapper">
            <input id="cmbCurrency_Course" name="CurrencyId" class="flex-grow-1 border-right-strait" />
            <button type="button" class="btn btn-outline-dark add-new-ddl-item-btn" onclick="CourseDetailsHelper.openCurrencyPopup();">
              <span class="k-icon k-i-plus"></span>
            </button>
          </div>
        </div>

        <!-- Course Level -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="CourseLevel">Course Level</label>
          <input type="text" class="form-control" id="courseLevel" name="CourseLevel" />
        </div>

        <!-- Course Fee -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="CourseFee">Course Fee</label>
          <input type="number" class="form-control" id="courseFee" name="CourseFee" />
        </div>

        <!-- Application Fee -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="ApplicationFee">Application Fee</label>
          <input type="number" class="form-control" id="applicationFee_Course" name="ApplicationFee" />
        </div>

        <!-- Monthly Living Cost -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="MonthlyLivingCost">Monthly Living Cost</label>
          <input type="number" class="form-control" id="monthlyLivingCost" name="MonthlyLivingCost" />
        </div>

        <!-- Part Time Work Details -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="PartTimeWorkDetails">Part Time Work Details</label>
          <input type="text" class="form-control" id="partTimeWorkDetails" name="PartTimeWorkDetails" />
        </div>

        <!-- Start Date -->
@*         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="StartDate">Start Date</label>
          <input type="date" class="form-control" id="startDate" name="StartDate" />
        </div> *@
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="StartDate_Course" class="lbl widthSize100_per">Start Date</label>
          <div class="">
            <input id="startDate_Course" name="StartDate_Course" class="w-100" />
          </div>
        </div>

        <!-- End Date -->
        @* <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="EndDate">End Date</label>
          <input type="date" class="form-control" id="endDate" name="EndDate" />
        </div> *@
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="EndDate_Course" class="lbl widthSize100_per">End Date</label>
          <div class="">
            <input id="EndDate_Course" name="EndDate_Course" class="w-100" />
          </div>
        </div>


        <!-- Course Benefits -->
        <div class="col-12 mb-2">
          <label for="CourseBenefits">Course Benefits</label>
          <textarea id="courseBenefits" name="CourseBenefits" class="form-control" rows="2"></textarea>
        </div>

        <!-- Languages Requirement -->
        <div class="col-12 mb-2">
          <label for="LanguagesRequirement">Languages Requirement</label>
          <textarea id="languagesRequirement" name="LanguagesRequirement" class="form-control" rows="2"></textarea>
        </div>

        <!-- Course Duration -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="CourseDuration">Course Duration</label>
          <input type="text" class="form-control" id="courseDuration" name="CourseDuration" />
        </div>

        <!-- Course Category -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="CourseCategory">Course Category</label>
          <input type="text" class="form-control" id="courseCategory" name="CourseCategory" />
        </div>

        <!-- Awarding Body -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
          <label for="AwardingBody">Awarding Body</label>
          <input type="text" class="form-control" id="awardingBody" name="AwardingBody" />
        </div>

        <!-- Additional Information Of Course -->
        <div class="col-12 mb-2">
          <label for="AdditionalInformationOfCourse">Additional Information</label>
          <textarea id="additionalInformationOfCourse" name="AdditionalInformationOfCourse" class="form-control" rows="2"></textarea>
        </div>

        <!-- General Eligibility -->
        <div class="col-12 mb-2">
          <label for="GeneralEligibility">General Eligibility</label>
          <textarea id="generalEligibility" name="GeneralEligibility" class="form-control" rows="2"></textarea>
        </div>

        <!-- Funds Requirement for Visa -->
        <div class="col-12 mb-2">
          <label for="FundsRequirementforVisa">Funds Requirement for Visa</label>
          <textarea id="fundsRequirementforVisa" name="FundsRequirementforVisa" class="form-control" rows="2"></textarea>
        </div>

        <!-- Institutional Benefits -->
        <div class="col-12 mb-2">
          <label for="InstitutionalBenefits">Institutional Benefits</label>
          <textarea id="institutionalBenefits" name="InstitutionalBenefits" class="form-control" rows="2"></textarea>
        </div>

        <!-- Visa Requirement -->
        <div class="col-12 mb-2">
          <label for="VisaRequirement">Visa Requirement</label>
          <textarea id="visaRequirement" name="VisaRequirement" class="form-control" rows="2"></textarea>
        </div>

        <!-- Country Benefits -->
        <div class="col-12 mb-2">
          <label for="CountryBenefits">Country Benefits</label>
          <textarea id="countryBenefits" name="CountryBenefits" class="form-control" rows="2"></textarea>
        </div>

        <!-- Key Modules -->
        <div class="col-12 mb-2">
          <label for="KeyModules">Key Modules</label>
          <textarea id="keyModules" name="KeyModules" class="form-control" rows="2"></textarea>
        </div>

        <!-- After 2 Years PSW completing Course -->
        <div class="col-12 mb-2">
          <label for="After2YearsPswcompletingCourse">After 2 Years PSW completing Course</label>
          <textarea id="after2YearsPswcompletingCourse" name="After2YearsPswcompletingCourse" class="form-control" rows="2"></textarea>
        </div>

        <!-- DocumentId -->
        <div class="col-12 mb-2">
          <label for="DocumentId">Document Id</label>
          <input type="text" class="form-control" id="documentId" name="DocumentId" />
        </div>

        <!-- Status Checkbox -->
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2 custom-checkbox">
          <label class="form-check-label" for="Status">Status</label>
          <input type="checkbox" id="chkStatusCourse" name="Status" class="form-check-input" />
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="btnDiv mt-2">
        <ul>
          <li class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary me-2" id="btnCourseSaveOrUpdate" onclick="CourseDetailsManager.saveOrUpdateItem();"> + Add Course </button>
            <button type="button" class="btn btn-secondary me-2" onclick="CourseDetailsHelper.clearForm();"> Clear </button>
          </li>
        </ul>
      </div>
    </form>


    <!-- Combo Box Items UI by PopUp -->
    <!-- Institute PopUP -->
    <div style="display:none" id="InstitutePopUp_Course" class="">
      <div class="row">
        <!-- Institute Form -->
        <partial name="crminstitute/_InstituteDetails" />
        <!-- Institute Summary -->
        <partial name="crminstitute/_InstituteSummary" />
      </div>
    </div>


    <!-- Currency PopUp -->
    <div style="display:none" id="CurrencyPopUp_Institute" class="">
      <div class="row">
        <!-- Currency Form -->
        <partial name="~/Views/Core/Currency/_CurrencyDetail.cshtml" />

        <!-- Currency Summary -->
        <partial name="~/Views/Core/Currency/_CurrencySummery.cshtml" />
      </div>
    </div>

  </fieldset>
</div>
