<script src="~/assets/scripts/modules/crmadmin/crmcourse/coursesummary.js"></script>

<fieldset class="border p-3 fieldsetCommon">
  <legend class="legendCommon">Course Summary Grid</legend>
  <div class="table-responsive-wrapper">
    <div id="gridSummaryCourse" class="responsiveGrid"></div>
  </div>
</fieldset>