@{
  ViewBag.Title = "Course Info";
  Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}


<!-- row -->
<div class="row gx-1 gy-2" >
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div id="divSummary">
      <partial name="CRMCourse/_CourseSummary" />
    </div>
  </div>
</div>

<div class="row">
  <div id="CoursePopUp" style="display: none">
    <partial name="CRMCourse/_CourseDetails" />
  </div>
</div>

<script src="~/assets/scripts/modules/crmadmin/crmcourse/course.js"></script>
@* <script src="~/assets/scripts/modules/core/crmcourse/course.js"></script> *@
