

<script src="~/assets/scripts/modules/core/workflow/workflowdetail.js"></script>

@* <div class=""> *@
<fieldset class="border p-3 fieldsetCommon">
  <legend class="legendCommon">Workflow Status Details</legend>

    <div id="tabstrip">
      <ul>
        <li>
          State Details
        </li>
        <li>
          Action Detail
        </li>
      </ul>
      <div>
        <partial name="WorkFlow/_StateDetails" />
      </div>
      <div>
        <partial name="WorkFlow/_ActionDetail" />
      </div>
    </div>

  </fieldset>
@* </div> *@
