<script src="~/assets/scripts/modules/core/workflow/WorkFlowSummary.js"></script>

@* <div class="row gx-1 gy-2" id="WorkflowShowHide">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="gridParrentDivOverflowHidden">
      <fieldset class="reset">
        <legend class="reset">Workflow Status Summary</legend>
        <div class="row">
          <div id="gridSummary" class="max-vh-80 min-width_96 mx-auto p-0 grid-background"></div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
 *@


<!-- row -->
<fieldset class="border p-3 fieldsetCommon">
  <legend class="legendCommon">Workflow Status Summary</legend>
  <div class="table-responsive-wrapper">
    <div id="gridSummary" class="responsiveGrid"></div>
  </div>
</fieldset>


@* <div class="row gx-1 gy-2">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="gridParrentDivOverflowHidden">
      <fieldset class="reset">
        <legend class="reset">Workflow Status Summary</legend>
        <div class="row">
          <div id="gridSummary" class="max-vh-80 min-width_96 mx-auto p-0 grid-background"></div>
        </div>
      </fieldset>
    </div>
  </div>
</div> *@

@* <div>
  <fieldset class="reset">
    <legend class="reset">Workflow Status Summary</legend>

    <div class="row">
      <div id="divSummaryInfo">
        <div id="gridSummary"></div>
      </div>
    </div>
  </fieldset>
</div>
 *@
