


<script src="~/assets/scripts/core/workflow/WorkFlowSummary.js"></script>

<div>
  <fieldset class="reset">
    <legend class="reset">Workflow Status Summary</legend>

    <div class="row">
      <div id="divSummaryInfo">
        <div id="gridSummary"></div>
      </div>
    </div>
  </fieldset>
</div>