@{
	ViewBag.Title = "Workflow Status";
	Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}



<!-- row -->
<div class="row gx-2 gy-3">
	<h3 class="k-header text-center">Workflow Status</h3>

  <div class="col-lg-5 col-md-12 col-sm-12">
    <div id="divDetails">
      <partial name="WorkFlow/_WorkFlowDetail" />
    </div>
  </div>

	<!-- Grid Section - Responsive -->
	<div class="col-lg-7 col-md-12 col-sm-12">
		<div id="divSummary">
			<partial name="WorkFlow/_WorkFlowSummery" />
		</div>
	</div>

</div>

<script src="~/assets/scripts/modules/core/workflow/workflowsettings.js"></script>
