@{
  ViewData["Title"] = "Home Page";
  Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<script type="text/javascript">
   



    // document.addEventListener('DOMContentLoaded', () => {
    //   // Call the function to populate the menu
    //     ToastrMessage.showToastrNotification({
    //     preventDuplicates: true,
    //     closeButton: true,
    //     timeOut: 5000, // Explicitly 0, progressBar will be false
    //     message: CurrentUser.UserName + ', You are successfully logged in and ready to explore.',
    //     type: 'success',
    //   });
    // });

</script>
