@{
  ViewData["Title"] = "Home Page";
  Layout = "~/Views/Shared/_Layout_Dash_UI.cshtml";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<script type="text/javascript">

  $(document).ready(() => { 

    // // Initialize To-Do Grid
    // toDoHelper.GenerateToDoGrid();

    // // Start server clock and get office time
    // OfficeTimeWithClockManager.startServerClock();
    // OfficeTimeWithClockManager.getOfficeTime();

    // // Initialize news headlines
    // newsHeadlonesHelper.initNewsHeadlones();

    // // Show/hide scroll-to-top button based on scroll position
    // $(window).on('scroll', () => {
    //   const scrollTop = $(window).scrollTop(); // Use $(window) instead of $(this)
    //   $('.scrollup').fadeToggle(scrollTop > 100);
    // });

    // // Smooth scroll to top when the scroll-to-top button is clicked
    // $('.scrollup').on('click', (event) => {
    //   event.preventDefault(); // Prevent default anchor behavior
    //   $('html, body').animate({ scrollTop: 0 }, 600);
    // });


  });
</script>
