@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
  ViewBag.Title = "Login";
  Layout = "~/Views/Shared/ControlPanel.cshtml";
}


<script src="~/assets/scripts/core/api/authapiclient.js"></script>
<script src="~/assets/scripts/core/helpers/tokenhelper.js"></script>
<script src="~/assets/scripts/core/managers/tokenmanager.js"></script>
<script src="~/assets/scripts/core/storage/tokenstorage.js"></script>
<script src="~/assets/scripts/core/managers/authmanager.js"></script>
<script src="~/assets/scripts/services/authentication/authenticationservice.js"></script>
<script src="~/assets/scripts/users/login/login.js"></script>
<script src="~/assets/scripts/core/cache/cachemanager.js"></script>

<!-- Login Content -->
<div class="row align-items-center justify-content-center g-0
        min-vh-100">
  <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
    <!-- Card -->
    <div class="card smooth-shadow-md">
      <!-- Card body -->
      <div class="card-body p-6">
        <div class="mb-4">
          <a href="/index.html"><img src="/assets/images/brand/logo/logo-primary.svg" class="mb-2" alt=""></a>
          <p class="mb-6">Please enter your user information.</p>
        </div>
        <!-- Form -->
        @* <form> *@
        <!-- Username -->
        <div class="mb-3">
          <label for="LoginId" class="form-label">Login Id</label>
          <input type="text" id="txtLoginId" class="form-control" name="LoginId" placeholder="Login Id here" required="">
        </div>
        <!-- Password -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="txtPassword" class="form-control" name="password" placeholder="**************" required="">
        </div>

        <!-- Checkbox -->
        <div class="d-lg-flex justify-content-between align-items-center mb-4">
          <div class="form-check custom-checkbox">
            <input type="checkbox" class="form-check-input" id="chkRememberMe">
            <label class="form-check-label" for="rememberme">Remember me </label>
          </div>
        </div>
        <div>
          <!-- Button -->
          <div class="d-grid">
            @* <input type="submit" value="Sign in" class="btn btn-primary" id="btnLogin" onclick="loginManager.LogInToSystem()"> *@
            <input type="submit" value="Sign in" class="btn btn-primary" id="btnLogin">
          </div>

          <div class="d-md-flex justify-content-between mt-4">
            <div class="mb-2 mb-md-0">
              <a href="sign-up.html" class="fs-5">
                Create An
                Account
              </a>
            </div>
            <div>
              <a href="forget-password.html" class="text-inherit
                        fs-5">Forgot your password?</a>
            </div>

          </div>
        </div>


        @* </form> *@
      </div>
    </div>
  </div>
</div>

