
<script src="~/assets/scripts/core/crminstitute/institutesummary.js"></script>


@* <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<div class="gridParrentDivOverflowHidden">
		<fieldset class="reset">
			<legend class="reset">Institute Grid</legend>
      <div class="row">
				<div id="gridSummaryInstitute" class="max-vh-80 min-width_96 mx-auto p-0 grid-background"></div>
			</div>
		</fieldset>
	</div>
</div>
 *@

<fieldset class="border p-3 fieldsetCommon">
	<legend class="legendCommon">Institute Summary Grid</legend>
	<div class="table-responsive-wrapper">
		<div id="gridSummaryInstitute" class="responsiveGrid"></div>
	</div>
</fieldset>
