
<script src="~/assets/scripts/core/crminstitute/institutesummary.js"></script>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<div class="gridParrentDivOverflowHidden">
		<fieldset class="reset">
			<legend class="reset">Institute Grid</legend>
      <div class="row">
				<div id="gridSummaryInstitute" class="max-vh-80 min-width_96 mx-auto p-0 grid-background"></div>
			</div>
		</fieldset>
	</div>
</div>

@* 
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
	<div class="gridParrentDivOverflowHidden">
		 <div class="gridInstitute">
			<fieldset class="reset">
				<legend class="reset">Institute Grid</legend>

				<div id="gridSummaryInstitute" class="min-width_100 max-vh-80 overflow-auto"></div>
			</fieldset>
		 </div> 
	</div>
</div>
 *@
@*  
<style>
	.gridScrollableWrapper {
		overflow-x: auto;
		width: 100%;
	}
</style> *@