


<script src="~/assets/scripts/core/workflowsetup/workflowsetupdetails.js"></script>

<div id="divdetailsForDetails" class="container divDetails">
    
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                Status Details
            </li>
            <li>
                Status Action Details
            </li>
        </ul>
        <div>
            <div id="StateDiv">
            <fieldset class="reset">
                <legend class="reset">Workflow Status Setup Details</legend>

                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <input type="text" id="txtName" name="Name" placeholder="Name*" class="k-textbox mendatory-field" />
                                <input type="hidden" id="hdnId" />
                                <input type="hidden" id="hdnCreateBy" />
                                <input type="hidden" id="hdnCreateDate" />
                                <input type="hidden" id="hdnUpdateBy" />
                                <input type="hidden" id="hdnUpdateDate" />


                            </div>
                            <div class="form-group">
                                <input type="text" id="cmbMenu" name="Menu" placeholder="Menu" class="mendatory-field" />
                            </div>
                            <div class="form-group">
                                <input id="cmbDefalutState" name="Is Default State" placeholder="Is Default State?" class="mendatory-field" />
                            </div>
                            <div class="form-group">
                                <input id="cmbWorkflowDefination" name="Workflow Defination" placeholder="Workflow Defination" class="mendatory-field" />
                            </div>
                            <div class="form-group">
                                <input id="numWorkflowStateOrder" name="Workflow Order" placeholder="State Order" class="mendatory-field" />
                            </div>

                            <div class="form-group">
                                <input type="text" id="cmbStatus" name="Status" placeholder="Status" class="mendatory-field" />
                            </div>
                            <div>
                                <label class="status"></label>
                            </div>


                        </form>
                    </div>

                </div>
            </fieldset>
            <div class="clear"></div>
            <fieldset>
                <button type="button" class="btn btn-primary btn-sm" id="btnSave" style="background-color: #207AB0;">Save</button>
                <button type="button" class="btn btn-secondary btn-sm" id="btnClose" style="background-color: #207AB0;">Close</button>
            </fieldset>
            </div>
        </div>
        <div id="divAction">
            <div id="actionInfo">
                <button type="button" class="btn btn-primary btn-sm" id="btnAddNewAction" style="background-color: #207AB0;">Add New</button>
                <br />
                <br />
            <div id="gridActionSummry">

            </div>
            <div id="divDetailsForAction" style="display: none;">
            <fieldset class="reset">
                <legend class="reset">Workflow Action Setup Details</legend>

                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <input type="text" id="txtNameAction" name="ActionName" placeholder="Name*" class="k-textbox mendatory-field" />
                                <input type="hidden" id="hdnIdAction" />
                                <input type="hidden" id="hdnCreateByAction" />
                                <input type="hidden" id="hdnCreateDateAction" />
                                <input type="hidden" id="hdnUpdateByAction" />
                                <input type="hidden" id="hdnUpdateDateAction" />


                            </div>
                            <div class="form-group">
                                <input type="text" id="cmbStateAction" name="ActionStatus" placeholder="Status" class="mendatory-field" />
                            </div>
                           
                            <div class="form-group">
                                <input id="cmbNextStatusForAction" name="Next State from Action" placeholder="Next State from Action" class="mendatory-field" />
                            </div>
                            <div class="form-group">
                                <input id="numWorkflowActionOrder" name="Action Order" placeholder="Action Order" class="mendatory-field" />
                            </div>

                            <div class="form-group">
                                <input type="text" id="cmbIsSentEmail" name="Is Sent Email?" placeholder="Is Sent Email?" class="mendatory-field" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="cmbIsSentSms" name="Is Sent SMS?" placeholder="Is Sent SMS?" class="mendatory-field" />
                            </div>
                            <div>
                                <label class="statusForAction"></label>
                            </div>


                        </form>
                    </div>

                </div>
            </fieldset>
            <div class="clear"></div>
            <fieldset>
                <button type="button" class="btn btn-primary btn-sm" id="btnSaveAction" style="background-color: #207AB0;">Save</button>
                <button type="button" class="btn btn-secondary btn-sm" id="btnCloseAction" style="background-color: #207AB0;">Close</button>
            </fieldset>
            </div>
            </div>
        </div>
    </div>
    
   

</div> 
