<script src="~/assets/scripts/core/crmintakemonth/intakemonthsummary.js"></script>

<fieldset class="border p-3 fieldsetCommon">
  <legend class="legendCommon">Intake Month Summary</legend>
  <div class="table-responsive-wrapper">
    <div id="gridSummaryIntakeMonth" class="responsiveGrid"></div>
  </div>
</fieldset>
